<mat-card>
  <mat-card-title>Register Person</mat-card-title>
  <mat-card-content>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Your first name</mat-label>
        <input matInput placeholder="Enter your firts name"
            [(ngModel)]="firstName" autofocus
        >
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
      </mat-form-field>

    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Your last name</mat-label>
        <input matInput placeholder="Enter your last name"
            [(ngModel)]="lastName"
        >
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
      </mat-form-field>

    </div>
    <div>
      <mat-form-field>
        <mat-label>Your Age</mat-label>
        <input matInput type="number" placeholder="Enter your age"
            [(ngModel)]="age"
        >
        <mat-icon matSuffix>perm_identity</mat-icon>
      </mat-form-field>
    </div>

    <mat-card-actions>
        <button mat-raised-button color="primary"
            (click)="register()"
        >Register</button>
    </mat-card-actions>

  </mat-card-content>
</mat-card>
